$point-mobile: 640px;
$point-tablet: 768px;
$point-desktop-s: 1024px;
$point-desktop-m: 1280px;
$point-desktop-b: 1620px;

$width-base-max: $point-desktop-s;

$padding-side: 40;



//colors
$c-base: #212324;
$c-gray: #848484;

$c-text: $c-base;



//fonts, types, text
$font-family-base:  'PragmaticaLightC', Helvetica, Arial, sans-serif;
$font-family-second: 'DINProC', serif;