footer(role='contentinfo')
	.container
		.row.justify-content-between
			.col-sm-6
				ul.footer-nav
					li: a(href="#") о компании
					li: a(href="#") история брендов
					li: a(href="#") партнеры
					li: a(href="#") работа в прайм прайд
					li: a(href="#") fan-shop
					li: a(href="#") логотипы

				p © Prime Pride, 2017
			.col-sm-6
				#footer-socials
					a(href="https://www.instagram.com/prime_pride_co/", target="_blank"): span.i-instagram
					//- a(href="#"): span.i-flickr
					a(href="https://www.youtube.com/channel/UC8AlfkjN8OsIHpWzjgwgfMA", target="_blank"): span.i-youtube