header(role="banner")
	.container
		.d-t.container-full
			.d-t-cell.align-b-middle
				a#header-logo(href="index.html")
					img(alt="Prime-Pride", src="assets/i/pp-logo.png", srcset="assets/i/pp-logo-x2.png")

			.d-t-cell.align-b-middle.align-t-right
				a(href="#")#header-mobileTog
					span
					span
					span
				#header-nav
					ul
						li(data-toggle="hover")
							a(href="#") Техника
							
							.dropdown
								.dropdown_content
									ul
										li: a(href="#") Снегоуплотнительная
										li: a(href="#") Муниципальная
										li: a(href="#") Сельское хозяйство
										li: a(href="#") Вездеходы в специсполнении
										li: a(href="#") Восстановленная техника
										li: a(href="#") Дополнительное оборудование

								.dropdown_back


						li(data-toggle="hover")
							a(href="services.html") Услуги

							.dropdown
								.dropdown_content
									ul
										li: a(href="service_1.html") Восстановительный ремонт
										li: a(href="service_2.html") Плановое обслуживание
										li: a(href="service_3.html") Обучение вождению и эксплуатации
										li: a(href="#") Оригинальные запчасти
										li: a(href="#") Сопровождение сделок купли-продажи
										li: a(href="service_6.html") Аренда
										li: a(href="#") Лизинг
										li: a(href="#") Восстановление техники

								.dropdown_back

						li(data-toggle="hover")
							a(href="#") События

							.dropdown
								.dropdown_content
									ul
										li: a(href="#") События
										li: a(href="#") Отзывы

								.dropdown_back

						li: a(href="#") Контакты
						li: a(href="tel:88005000163").nowrap
							span.t-white 8 800 5000 163
							span.m-l-5.m-r-5 /
							span 24
								sup часа

						li#header-search(data-toggle="hover")
							a(href="#").i-search

							.dropdown
								.dropdown_content
									.container
										form
											#header-search-input
												label: .i-search
												input(type="search", value="", placeholder="Введите здесь ваш запрос...")

											#header-search-result
												.search-result
													span.search-result-cat Каталог:
													a(href="#") Pisten Bully 
														span.t-beige 600

												.search-result
													span.search-result-cat Техника с пробегом:
													a(href="#") Pisten Bully 
														span.t-beige 600
														| &nbsp;2014, наработка 500 часов
													a(href="#", title="Больше результатов") ...

												.search-result
													span.search-result-cat Спецпредложения:
													a(href="#") Сервис 
														span.t-beige 600
														| - 10%

												.search-result
													span.search-result-cat Новости:
													a(href="#") Pisten Bully 
														span.t-beige 600
														| - лучшие продажи года
													a(href="#", title="Больше результатов") ...
								.dropdown_back