header(role="banner")
	.container
		.d-t.container-full
			.d-t-cell.align-b-middle
				a#header-logo(href="#")
					img(alt="Prime-Pride", src="assets/i/pp-logo.png", srcset="assets/i/pp-logo-x2.png")

			.d-t-cell.align-b-middle.align-t-right
				ul.header-nav
					li: a(href="#") Техника
					li(data-toggle="hover")
						a(href="#") Услуги

						.dropdown
							.dropdown_content
								ul
									li: a(href="#") Восстановительный ремонт
									li: a(href="#") Плановое обслуживание
									li: a(href="#") Обучение вождению и эксплуатации
									li: a(href="#") Оригинальные запчасти
									li: a(href="#") Сопровождение сделок купли-продажи
									li: a(href="#") Аренда
									li: a(href="#") Лизинг
									li: a(href="#") Восстановление техники

							.dropdown_back

					li(data-toggle="hover")
						a(href="#") События

						.dropdown
							.dropdown_content
								ul
									li: a(href="#") Ежегодные мероприятия
									li: a(href="#") Отзывы

							.dropdown_back

					li: a(href="#") Контакты
					li: a(href="tel:88005000163").nowrap
						span.t-red 8 800 5000 163
						span.m-l-5.m-r-5 /
						span 24
							sub часа

					li#header-search(data-toggle="hover")
						a(href="#").i-search

						.dropdown
							.dropdown_content
								.container
									p search
							.dropdown_back