header(role="banner")
	.container
		.d-t.container-full
			.d-t-cell.align-b-middle
				a#header-logo(href="#")
					img(alt="Prime-Pride", src="assets/i/pp-logo.png", srcset="assets/i/pp-logo-x2.png")

			.d-t-cell.align-b-middle.align-t-right
				ul.header-nav
					li: a(href="#") Техника
					li: a(href="#") Услуги
					li: a(href="#") События
					li: a(href="#") Контакты
					li: a(href="#")
						span.t-red 8 800 5000 163
						span / 24
							sub часа

					li
						a(href="#").i-search