mixin contacts()
	.contacts
		.container
			h2 КОНТАКТЫ
			.row.colsec
				.col-lg-4.col-md-6
					h3 Продажи
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-1.jpg")
					h4 ЕВГЕНИЯ СЕДЫХ
					.colsec-m-b
						p Руководитель отдела продаж
					.contacts--data
						p телефон: +7 927 656 28 44
						p офис:  8 800 5000 163
						p e-mail:  e.sedykh@pp-mail.com

				.col-lg-4.col-md-6
					h3 Сервис, консультации
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-2.jpg")
					h4 СЕРГЕЙ БУДЫЛИН
					.colsec-m-b
						p Директор по сервису
					.contacts--data
						p телефон: +7 937 2000 637
						p офис:  8 800 5000 163
						p e-mail:  s.budylin@pp-mail.com

				.col-lg-4.col-md-6
					h3 Запчасти
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-3.jpg")
					h4 СТАНИСЛАВА СИМОНОВА
					.colsec-m-b
						p Менеджер
					.contacts--data
						p телефон: +7 9272 668 224
						p офис:  8 800 5000 163
						p e-mail:  d.volkova@pp-mail.com




mixin contacts2()
	.contacts
		.container
			.row.colsec
				.col-lg-3.col-md-6
					h3 Стратегия
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-0.jpg")
					h4 Сергей Орлов
					.colsec-m-b
						p Руководитель компании
					.contacts--data
						p телефон: +7 927 26 444 21
						p офис:  8 800 5000 163
						p e-mail:  sergei.orlov@pp-mail.com

				.col-lg-3.col-md-6
					h3 Продажи
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-1.jpg")
					h4 ЕВГЕНИЯ СЕДЫХ
					.colsec-m-b
						p Руководитель отдела продаж
					.contacts--data
						p телефон: +7 927 656 28 44
						p офис:  8 800 5000 163
						p e-mail:  e.sedykh@pp-mail.com

				.col-lg-3.col-md-6
					h3 Сервис, консультации
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-2.jpg")
					h4 СЕРГЕЙ БУДЫЛИН
					.colsec-m-b
						p Директор по сервису
					.contacts--data
						p телефон: +7 937 2000 637
						p офис:  8 800 5000 163
						p e-mail:  s.budylin@pp-mail.com

				.col-lg-3.col-md-6
					h3 Запчасти
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/contact-3.jpg")
					h4 СТАНИСЛАВА СИМОНОВА
					.colsec-m-b
						p Менеджер
					.contacts--data
						p телефон: +7 9272 668 224
						p офис:  8 800 5000 163
						p e-mail:  d.volkova@pp-mail.com