extends extends/layout.pug

block head
	- var pageTitle = 'Каталог техники PistenBully Россия'

block content
	main(role="main")
		#catalog-top
			.container
				.d-t.fullw
					#catalog-breadcrumbs
						a(href="#") техника
						span ›
						span снегоуплотнительная
					#catalog-compare
						a(href="#") сравнение техники [ 0 ]

		h1.title-zigzag: span снегоуплотнительная