extends extends/layout.pug

block head
	- var pageTitle = 'Каталог техники PistenBully Россия'

block content
	main(role="main")
		#catalog-top
			.container
				.f-zoom
					#catalog-breadcrumbs.f-left
						a(href="#") техника
						span ›
						span снегоуплотнительная
					.f-right

		h1.title-zigzag: span снегоуплотнительная