extends extends/layout.pug

block head
	- var pageTitle = 'Каталог техники PistenBully Россия'

block content
	main(role="main")
		#catalog-top
			.container
				.d-t.fullw
					#catalog-breadcrumbs
						a(href="#") техника
						span ›
						span снегоуплотнительная
					#catalog-compare
						a(href="#") сравнение техники [ 0 ]

		h1.title-zigzag: span снегоуплотнительная

		#catalog-brands
			.container
				span.sprite-PistenBully

		#catalog-items
			.container
				.row
					.col-sm-3: div
					#catalog-items--list.col-sm-9
						.row
							.col-sm-4: div
							.col-sm-4: div
							.col-sm-4: div
						.row
							.col-sm-4: div
							.col-sm-4: div
							.col-sm-4: div