extends extends/layout.pug

include includes/mixins.pug

block head
	- var pageTitle = 'Каталог техники PistenBully Россия'


block content
	main(role="main")
		#catalog-top
			.container
				.d-t.fullw
					#catalog-breadcrumbs
						a(href="#") Главная
						span ›
						span Контакты

		h1.title-zigzag: span Контакты


		.container
			+contacts2()

		hr/

		.container
			h2.t-beige-dark Адрес офиса
			p.t-center 443031, г. Самара, Проспект Кирова 435А, оф. 507

		.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.729712739606!2d50.209724951554946!3d53.26175318864663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41661902ca5b440f%3A0x41545c6941911c11!2z0L_RgC4g0JrQuNGA0L7QstCwLCA0MzUsIDUwNywg0KHQsNC80LDRgNCwLCDQodCw0LzQsNGA0YHQutCw0Y8g0L7QsdC7LiwgNDQzMDMx!5e1!3m2!1sru!2sru!4v1516913171540" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


		.container
			h2.t-beige-dark Адрес сервисного центра
			p.t-center Самарская область, Волжский район, п.г.т. Стройкерамика

		.map
			<iframe src="https://www.google.com/maps/embed?pb=!1m13!1m11!1m3!1d1512.9135423066402!2d50.41409167597239!3d53.27504620918701!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sru!4v1516814667741" frameborder="0" style="border:0" allowfullscreen></iframe>