extends extends/layout.pug

block head
	- var pageTitle = '600 POLAR'
	- var bodyclass = 'page-item'

block content
	main(role="main")
		#catalog-top
			.container
				.d-t.fullw
					#catalog-breadcrumbs
						a(href="#") техника
						span ›
						span снегоуплотнительная
					//- #catalog-compare
					//- 	a(href="#") сравнение техники [ 0 ]

		h1.title-zigzag: span 600 POLAR

		#catalog-brands
			.container
				span.sprite-PistenBully

		.container
			#item-slider.anyslide-img
				.js-slider-viewport
					.slide
						img(alt="", src="assets/i/tmp/item-1-bg.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-2.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-3.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-4.jpg")

				.js-slider-controls
					a(href="#").prev: span.i-arrLeftSimple
					a(href="#").next: span.i-arrRightSimple


		hr/
		.contacts
			.container
				h2 КОНТАКТЫ
				.row
					.col-lg-4.col-md-6
						h3 Продажи
						img(alt="", src="assets/i/tmp/contact-1.jpg")
						h4 ЕВГЕНИЯ СЕДЫХ
						p Руководитель отдела продаж
						.contacts--data
							p телефон: +7 927 656 28 44
							p офис:  8 800 5000 163
							p e-mail:  e.sedykh@pp-mail.com

					.col-lg-4.col-md-6
						h3 Сервис, консультации
						img(alt="", src="assets/i/tmp/contact-2.jpg")
						h4 СЕРГЕЙ БУДЫЛИН
						p Директор по сервису
						.contacts--data
							p телефон: +7 937 2000 637
							p офис:  8 800 5000 163
							p e-mail:  s.budylin@pp-mail.com

					.col-lg-4.col-md-6
						h3 Запчасти
						img(alt="", src="assets/i/tmp/contact-3.jpg")
						h4 СТАНИСЛАВА СИМОНОВА
						p Менеджер
						.contacts--data
							p телефон: +7 9272 668 224
							p офис:  8 800 5000 163
							p e-mail:  d.volkova@pp-mail.com