extends extends/layout.pug

block head
	- var pageTitle = '600 POLAR'
	- var bodyclass = 'page-item'

block content
	main(role="main")
		#catalog-top
			.container
				.d-t.fullw
					#catalog-breadcrumbs
						a(href="#") техника
						span ›
						span снегоуплотнительная
					//- #catalog-compare
					//- 	a(href="#") сравнение техники [ 0 ]

		h1.title-zigzag: span 600 POLAR

		#catalog-brands
			.container
				span.sprite-PistenBully

		.container
			#item-slider.anyslide-img
				.js-slider-viewport
					.slide
						img(alt="", src="assets/i/tmp/item-1-bg.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-2.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-3.jpg")
					.slide
						img(alt="", src="assets/i/tmp/index-items-4.jpg")

				.js-slider-controls
					a(href="#").prev: span.i-arrLeftSimple
					a(href="#").next: span.i-arrRightSimple

		
		.container
			.row.colsec
				.col-sm-4
					h4.title-light.align-t-left 100 % МОЩНОСТИ В ЛЮБЫХ УСЛОВИЯХ
					p Благодаря мощному двигателю с невероятным крутящим моментом и мощной гидравлике PistenBully 600 Polar эффективно сдвигает снежные массы . Эта машина подкупает простотой управления и мощными ходовыми характеристиками. 
				.col-sm-4
					h4.title-light.align-t-left СТАБИЛЬНОСТЬ РАБОТЫ И УПРАВЛЕНИЯ - БОЛЬШЕ НЕЗАВИСИМОСТИ.
					p Система электронного управления специально оптимизирована для того, чтобы во время подготовки горнолыжных трасс обеспечить стабильность работы техники и полный контроль. При этом макимальная чувствительность управления гарантирована.
				.col-sm-4
					h4.title-light.align-t-left МОЩНЫЙ ДВИГАТЕЛЬ
					p 6-цилиндровый двигатель Mercedes-Benz OM 460 LA  с рабочим объемом 12,8 л и мощностью 490 л. Двигатель соответствует норме токсичности EUROMOT 3A/EPA Tier 3 и при этом сохраняет резерв мощности .

		hr/

		.container
			h2.m-b-5 ПАНЕЛЬ УПРАВЛЕНИЯ
			h4.title-light Продуманная эргономика рабочего места

			.colsec-m-b
				img.i-block(alt="", src="assets/i/tmp/itemDesc-bg.jpg")
				//- script(src="assets/js/kaleidoscope.min.js" defer="defer")
				//- <scritpt>
				//- 	var viewer = new Kaleidoscope.Image(
				//- 		{source: "equirectangular-image.jpg", containerId: "#target"});
				//- 	viewer.render();
				//- </scritpt>

			.row.colsec
				.col-sm-4
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/itemDesc-1.jpg")
					h4.title-light.align-t-left КОЛЕСО РУЛЕВОГО УПРАВЛЕНИЯ И МУЛЬТИФУНКЦИОНАЛЬНЫЙ ДИСПЛЕЙ
					p Полукруглое колесо рулевого управления, бесступенчато регулируемое по вертикали и горизонтали, с мультифункциональным дисплеем.
				.col-sm-4
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/itemDesc-2.jpg")
					h4.title-light.align-t-left СИСТЕМА ЦЕТРАЛЬНОГО УПРАВЛЕНИЯ “TERMINAL” И СЕНСОРНЫЙ ЭКРАН
					p Управление всеми функциями осуществляется просто: с помощью сенсорного экрана или через систему центрального управления Terminal.
				.col-sm-4
					.colsec-m-b
						img.i-block(alt="", src="assets/i/tmp/itemDesc-3.jpg")
					h4.title-light.align-t-left ДЖОЙСТИК PISTENBULLY: ВСЕ ФУНКЦИИ - В ОДНОЙ РУКЕ!
					p Благодаря джойстику PistenBully управление всеми важными функциями осуществляется одной рукой, что обеспечивает, тем самым, оперативность упарвления.



		hr/

		.container
			h2.m-b-5 ЛЕБЕДКА НА 4,5 T
			h4.title-light Гарантия большей безопасности на склоне

			.text-columned.text-columned-2
				p Для эксплуатации на крутом склоне или перемещения большого количества снежных масс лебедка с тяговым усилием 4,5 т – идеальное дополнение к PistenBully 600. 5-точечное крепление лебедки обеспечивает быстрый и легкий монтаж или демонтаж. Высокая грузоподъемность и максимальный срок эксплуатации
				p Тяговое усилие - 4,5 тонны, длина троса – 1.050 м, опора лебедки, выдерживающая экстремальную нагрузку, надежный поворотный механизм на шариковых опорах с гидравлическим приводом и тормозом для  безопасной установки свободно вращающейся гидравлической барабанной лебедки – все это лишь некоторые преимущества лебедки с тяговым усилием 4,5 т.
				p Благодаря системе активного управления лебедкой даже в тяжелых условиях гарантированы оптимальные характеристики управления снегоуплотнительной машиной. 
				p В зависимости от климатических условий и состояния горнолыжного склона оператор можен задавать определенные параматеры управления.
				p Благодаря конструкционным особенностям лебедки воздействие на ее трос минимально, а за счет длительного срока эксплуатации зубчатых колес и валов долгая и безопасная эксплуатация лебедки обеспечена даже при малых эксплуатационных затратах.
				p Высокая безопасность PistenBully 600 Polar - это:
				p Продуманная система управления
				p Большой гидравлический насос лебедки 
				p Бесступенчатое регулирование тягового усилия от 0 – 4.500 кгс
				p Возможность индивидуальных настроек тягового усилия 
				p Система автоматического контроля намотки троса (звуковой сигнал при ошибки намотки троса) 
				p Автоматическая система раннего распознавания обрыва жил и прядей троса лебедки 
				p Функция “Not-Stop” на рулевой стойке
				p Предупреждающий сигнал при запрокинутом рукаве лебедки 
				p Индикация оставшейся длины троса на дисплее
				p Возможность индивидуальной настройки благодаря бесступенчатому потенциометру тягового усилия 
				p Отличная видимость за счет усовершенствованной системы омывания стекол. 


		hr/

		.container
			h2 технические параметры

		.js-accordion
			.js-accordion--tab
				.container
					h3 Параметры размера
			.js-accordion--tabContent
				.container
					.container-narrow
						.product-param--wrap
							.product-param
								.product-param--left Общая длина
								.product-param--right 6.120 мм
							.product-param
								.product-param--left Длина с навесным оборудованием
								.product-param--right 9.130 мм
							.product-param
								.product-param--left Ширина с навесным оборудованием
								.product-param--right с финишером и фрезой AlpinFlex - 5.500 мм; с откинутым боковым финишером (по заказу) - 6.050 мм
			.js-accordion--tab
				.container
					h3 СИСТЕМА ЗАЩИТЫ ОТ НАЛИПАНИЯ СНЕГА
			.js-accordion--tabContent
				.container
					.container-narrow Гидравлическая система привода рабочего оборудования с пропорционально управляемыми сверхмощными клапанами и интегрированной технологией CAN служит для плавного подъема и опускания фрезы налюбой скорости.  Большая помпа фрезы обеспечивает оптимальное количество оборотов.

			.js-accordion--tab
				.container
					h3 дополнительное оборудование 600 polar
			.js-accordion--tabContent
				.container
					.container-narrow
						p Возможность выбора дополнительного оборудования для данной модели
						.product-param--wrap
							.product-param
								.product-param--left Переднее навсное
								.product-param--right
									a(href="#") КОВШ ДЛЯ УБОРКИ СНЕГА
									br/
									a(href="#") БОКС ДЛЯ ТРАНСПОРТИРОВКИ


		hr.hr-devider
		.contacts
			.container
				h2 КОНТАКТЫ
				.row.colsec
					.col-lg-4.col-md-6
						h3 Продажи
						.colsec-m-b
							img.i-block(alt="", src="assets/i/tmp/contact-1.jpg")
						h4 ЕВГЕНИЯ СЕДЫХ
						.colsec-m-b
							p Руководитель отдела продаж
						.contacts--data
							p телефон: +7 927 656 28 44
							p офис:  8 800 5000 163
							p e-mail:  e.sedykh@pp-mail.com

					.col-lg-4.col-md-6
						h3 Сервис, консультации
						.colsec-m-b
							img.i-block(alt="", src="assets/i/tmp/contact-2.jpg")
						h4 СЕРГЕЙ БУДЫЛИН
						.colsec-m-b
							p Директор по сервису
						.contacts--data
							p телефон: +7 937 2000 637
							p офис:  8 800 5000 163
							p e-mail:  s.budylin@pp-mail.com

					.col-lg-4.col-md-6
						h3 Запчасти
						.colsec-m-b
							img.i-block(alt="", src="assets/i/tmp/contact-3.jpg")
						h4 СТАНИСЛАВА СИМОНОВА
						.colsec-m-b
							p Менеджер
						.contacts--data
							p телефон: +7 9272 668 224
							p офис:  8 800 5000 163
							p e-mail:  d.volkova@pp-mail.com