extends extends/layout.pug

include includes/mixins.pug

block head
	- var pageTitle = 'Сопровождение сделок купли-продажи | Компания "Прайм Прайд"'

block content
	main(role="main")
		#inside-banner
			#inside-banner--content
				h1 Сопровождение сделок купли-продажи

				img#inside-banner--logo(alt="", src="assets/i/pp-logo-big.png", srcset="assets/i/pp-logo-big-x2.png")
				#inside-banner--logoStripe-m
					span.sprite-insideBannerBrandsM
				#inside-banner--sign
					img(alt="", src="assets/i/services/inside-serv5.png", srcset="assets/i/services/inside-serv5-x2.png")
				.sprite-serv2.left
				.sprite-serv2.right

				.sprite-serviceCornerCurls.left
				.sprite-serviceCornerCurls.right
				#inside-banner--roubleDecor
					.sprite-rouble

			#inside-banner--logoStripe.sprite-insideBannerBrands

		
		section.container
			.title-compl.title-compl--serv5
				.title-compl--content
					h2 Мы в этом разбираемся

			p Вы собираетесь купить не новый ратрак — мы поможем вам не сделать ошибок. Ратрак — это довольно затратная покупка, и подходить к ней нужно взвешенно и с умом. В нашей истории бывали случаи, когда люди покупали технику, привозили к себе на объект, а потом уже там, во время сезона, начинались проблемы, и тогда уже они звонили нам. Запчасти ехали, техника простаивала. - в этой связке создается впечатление, что она стояла из-за того, что они долго ехали. Возможно сделать акцент на том, что запчасти были быстро, но до этого техника, один хуй, стояла.
			p Мы экспертно оценим состояние техники, подскажем, какие ожидаются затраты и в какое время, дадим заключение на состояние узлов и агрегатов. -нужно поменять последовательность, чтоб соблюсти событийность. Мы можем узнать всю историю машины, реальный пробег, оценить условия и правильность эксплуатации предыдущим владельцем. Мы можем восстановить машину из любого и до любого состояния, при этом никогда не превысив согласованную смету. Мы занимаем 85% рынка ратраков в России и мире, поэтому у наших сервисменов такой опыт, которого нет ни у кого. То есть реально ни у кого. 
			p Мы помогаем сделать историю покупки полностью прозрачной и понятной. Логистика, растаможивание, доставка до места эксплуатации, пусконаладка. - я бы добавил « осстановление" и закончил успешной работой машины. 

		hr/
		+contacts()