extends extends/layout.pug

include includes/mixins.pug

block head
	- var pageTitle = 'Восстановительный ремонт - PistenBully Россия'

block content
	main(role="main")
		#inside-banner
			#inside-banner--content
				h1 Восстановительный ремонт

				img#inside-banner--logo(alt="", src="assets/i/pp-logo-big.png", srcset="assets/i/pp-logo-big-x2.png")
				#inside-banner--logoStripe-m
					span.sprite-insideBannerBrandsM
				#inside-banner--sign
					img(alt="", src="assets/i/services/inside-serv1.png", srcset="assets/i/services/inside-serv1-x2.png")
				.sprite-serv1Left
				.sprite-serv1Right

			#inside-banner--logoStripe.sprite-insideBannerBrands

		
		section.container-narrow
			.title-compl.title-compl--serv1
				.title-compl--content
					h2 Возвращаем в строй

			p Ремонт техники мы делаем как у нас на базе, так и с выездом на объект. Вылетаем довольно часто, но ещё чаще помогаем нашим партнёрам по различным каналам связи (телефон и скайп), когда технический директор ГЛК связывается с сервисной службой в том случае, если они не в состоянии решить проблему самостоятельно. Оперативновность реагирования — один из основных критериев оценки работы сервисной службы, и мы стараемся быть здесь всегда на недосягаемой высоте.
			p Что касается квалификации людей и качества ремонта, то у сервисмены за годы работы приобрели столь большой опыт, и отсюда понимание проблем, причин их возникновения и способов их решения, что, пожалуй, не может возникнуть ни одной ситуации, к которой они не были бы готовы. Плюс, все сервисмены проходили обучение в Германии и регулярно проходят сертификацию на заводе, ежегодно подтверждая свой высокий уровень. Сервисмены имеют весь набор специального инструмента, который может понадобиться для специфических манипуляций. На любой ремонт действует гарантия 6 месяцев (при условии использования оригинальных запчастей).
			p Службы сервиса PistenBully по всему миру обмениваются опытом, обогащая базу знаний друг друга. Поэтому срок устранения любой поломки, как правило, от одного дня до максимум трёх (при условии наличия запчастей на складе), что является стандартом работы PistenBully.


		hr/
		+contacts()