extends extends/layout.pug

include includes/mixins.pug

block head
	- var pageTitle = 'Услуги – PistenBully Россия'

block content
	main(role="main")

		#index-services.m-t-sec
			h1.title-zigzag: span Услуги

			.container-narrow
				.row
					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-1
							span.service-link--text Восстановительный ремонт

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-2
							span.service-link--text Плановое обслуживание

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-3
							span.service-link--text обучение  управлению и эксплуатации

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-4
							span.service-link--text Оригинальные запчасти

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-5
							span.service-link--text Сопровождение сделок купли-продажи

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-6
							span.service-link--text АРЕНДА

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-7
							span.service-link--text Лизинг

					.col-sm-6.col-md-4
						a(href="#").service-link
							span.sprite-service-8
							span.service-link--text восстановление техники


		hr/
		+contacts()