extends extends/layout.pug

include includes/mixins.pug

block head
	- var pageTitle = 'Плановое техобслуживание - PistenBully Россия'

block content
	main(role="main")
		#inside-banner
			#inside-banner--content
				h1 Плановое техобслуживание

				img#inside-banner--logo(alt="", src="assets/i/pp-logo-big.png", srcset="assets/i/pp-logo-big-x2.png")
				#inside-banner--logoStripe-m
					span.sprite-insideBannerBrandsM
				#inside-banner--sign
					img(alt="", src="assets/i/services/inside-serv2.png", srcset="assets/i/services/inside-serv2-x2.png")
				.sprite-serv2.left
				.sprite-serv2.right

			#inside-banner--logoStripe.sprite-insideBannerBrands

		
		section.container
			.title-compl.title-compl--serv1
				.title-compl--content
					h2 Все в парк!

			p Службы сервиса PistenBully по всему миру обмениваются опытом, обогащая базу знаний друг друга. Поэтому срок устранения любой поломки, как правило, от одного дня до максимум трёх (при условии наличия запчастей на складе), что является стандартом работы PistenBully.
			p Ниже дана таблица проведения планового ТО. Вы всегда можете связаться с нашей сервисной службой и уточнить любые моменты по плановому ТО. Вы также можете вызвать нашего мастера к себе, просто позвонив или отправив нам письмо электропочтой. ТО снегоуплотнительной техники предполагает:

			ul
				li четкое исполнение всех правил ремонта и эксплуатации, которые оговорены технической документацией предприятия-изготовителя; 
				li регулирование определенного режима работы оборудования и недопущение перегрузок;
				li строгую периодичность смазки в местах, где этого требует техническая документация;
				li контроль состояния изношенности механизмов и узлов при визуальном осмотре;
				li замену всех технических жидкостей;
				li замену всех фильтров, в том числе фильтров «скрытой» установки, про которые многие или не знают, или забывают;
				li проверку рабочих показателей оборудования;
				li наладку и регулирование основных характеристик; очистку засоренных рабочих частей оборудования и механизмов;
				li выявление нарушений и сбоя в работе оборудования;
				li моментальное отключение оборудования при аварийной ситуации


		section.container
			h2.t-beige-dark Таблица планового то

			.sec-half
				.row
					.col-sm-4
						.form-select.dark.fullw
							select
								option Выберите бренд
								option PistenBully
								option Reform
					.col-sm-4
						.form-select.dark.fullw
							select
								option Модель
								option 500
								option 600
					.col-sm-4
						.form-select.dark.fullw
							select
								option Год выпуска
								option 2016
								option 2017


			.sec-half
				.align-t-center
					a(href="#")
						span.sprite-downlTable

		hr/
		+contacts()