%width_base
{
  box-sizing: border-box;
  width:100%;
  max-width: $width-base-max - $padding-side*2;
  margin: 0 auto;

  padding-left: $padding-side;
  padding-right: $padding-side;
}


%link_noline{
  &, &:hover, &:focus, &:visited{
    text-decoration: none;
    text-decoration: none !important;
  }
}


%container_image
{
  img
  {
    display: inline-block;
    max-width: 100%;
  }
}


%flex-alignv{
 /* align content vertically */
  display: flex;
  align-items: center;
}