@include font-face("ppIconsFont", font-files("ppIconsFont.woff","ppIconsFont.woff2","ppIconsFont.svg","ppIconsFont.ttf"), "ppIconsFont.eot");


// @font-face {
// 	font-family: "ppIconsFont";
// 	src: url('ppIconsFont.eot');
// 	src: url('ppIconsFont.eot?#iefix') format('eot'),
// 		url('ppIconsFont.woff') format('woff'),
// 		url('ppIconsFont.ttf') format('truetype'),
// 		url('ppIconsFont.svg#ppIconsFont') format('svg');
// }

// @mixin icon-styles {
// 	font-family: "ppIconsFont";
// 		-webkit-font-smoothing: antialiased;
// 		-moz-osx-font-smoothing: grayscale;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: normal;
// 	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
// 	text-decoration: none;
// 	text-transform: none;
// 	display: inline-block;
// }

%icon-styles {
	font-family: "ppIconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	display: inline-block;
	line-height: 1;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == flickr {
		$char: "\E001";
	}
	@if $filename == instagram {
		$char: "\E002";
	}
	@if $filename == search {
		$char: "\E003";
	}
	@if $filename == youtube {
		$char: "\E004";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		content: icon-char($filename);
	}
}

.i-flickr {
	@include icon(flickr);
	@extend %icon-styles;
}
.i-instagram {
	@include icon(instagram);
	@extend %icon-styles;
}
.i-search {
	@include icon(search);
	@extend %icon-styles;
}
.i-youtube {
	@include icon(youtube);
	@extend %icon-styles;
}
