$icons: (
    sprite: (width: 12423px, height: 3719px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    PistenBully: (width: 136.2px, height: 33.1px, backgroundX: 0px, backgroundY: 0px),
    PistenBullySm: (width: 60.7px, height: 14.6px, backgroundX: -137px, backgroundY: -34px),
    Reform: (width: 171.7px, height: 27.4px, backgroundX: -198px, backgroundY: -49px),
    ReformSm: (width: 60.7px, height: 9.7px, backgroundX: -370px, backgroundY: -77px),
    arr: (width: 40px, height: 9.1px, backgroundX: -431px, backgroundY: -87px),
    closeFiltr: (width: 10.7px, height: 10.7px, backgroundX: -471px, backgroundY: -97px),
    compareBack: (width: 278.5px, height: 48.2px, backgroundX: -482px, backgroundY: -108px),
    compareIcon: (width: 48px, height: 27px, backgroundX: -761px, backgroundY: -157px),
    diamond: (width: 265.1px, height: 93px, backgroundX: -809px, backgroundY: -184px),
    diamondLight: (width: 267.7px, height: 93.3px, backgroundX: -1075px, backgroundY: -277px),
    downlPage: (width: 233.5px, height: 43px, backgroundX: -1343px, backgroundY: -371px),
    downlPageB: (width: 251.5px, height: 80px, backgroundX: -1577px, backgroundY: -414px),
    downlTable: (width: 189.3px, height: 64px, backgroundX: -1829px, backgroundY: -494px),
    insideBannerBrands: (width: 352.7px, height: 39.4px, backgroundX: -2019px, backgroundY: -558px),
    insideBannerBrandsM: (width: 212.8px, height: 23.5px, backgroundX: -2372px, backgroundY: -598px),
    question: (width: 216.2px, height: 42.5px, backgroundX: -2585px, backgroundY: -622px),
    rouble: (width: 54.1px, height: 54.1px, backgroundX: -2802px, backgroundY: -665px),
    serv1Left: (width: 757.1px, height: 69.8px, backgroundX: -2857px, backgroundY: -720px),
    serv1Right: (width: 798.5px, height: 54.3px, backgroundX: -3615px, backgroundY: -790px),
    serv1Title: (width: 123.7px, height: 71px, backgroundX: -4414px, backgroundY: -845px),
    serv2: (width: 978.6px, height: 230.2px, backgroundX: -4538px, backgroundY: -916px),
    serv4Left: (width: 783px, height: 183.7px, backgroundX: -5517px, backgroundY: -1147px),
    serv4Right: (width: 785.4px, height: 193px, backgroundX: -6300px, backgroundY: -1331px),
    serv5Title: (width: 182.5px, height: 67.3px, backgroundX: -7086px, backgroundY: -1524px),
    serv6Left: (width: 1266px, height: 295px, backgroundX: -7269px, backgroundY: -1592px),
    serv6Right: (width: 1737px, height: 295px, backgroundX: -8535px, backgroundY: -1887px),
    serv6Title: (width: 80.3px, height: 56.8px, backgroundX: -10272px, backgroundY: -2182px),
    serv8Left: (width: 241.1px, height: 51px, backgroundX: -10353px, backgroundY: -2239px),
    serv8Right: (width: 241.1px, height: 51px, backgroundX: -10595px, backgroundY: -2290px),
    service-1: (width: 153.5px, height: 126.3px, backgroundX: -10837px, backgroundY: -2341px),
    service-2: (width: 125.1px, height: 126.4px, backgroundX: -10991px, backgroundY: -2468px),
    service-3: (width: 134.2px, height: 126.4px, backgroundX: -11117px, backgroundY: -2595px),
    service-4: (width: 128.1px, height: 126.4px, backgroundX: -11252px, backgroundY: -2722px),
    service-5: (width: 109.7px, height: 125.6px, backgroundX: -11381px, backgroundY: -2849px),
    service-6: (width: 128.7px, height: 120.9px, backgroundX: -11491px, backgroundY: -2975px),
    service-7: (width: 142.6px, height: 126.4px, backgroundX: -11620px, backgroundY: -3096px),
    service-8: (width: 121.8px, height: 126.4px, backgroundX: -11763px, backgroundY: -3223px),
    serviceBack: (width: 215.2px, height: 56px, backgroundX: -11885px, backgroundY: -3350px),
    serviceCornerCurls: (width: 192.4px, height: 183.1px, backgroundX: -12101px, backgroundY: -3406px),
    speed1: (width: 71.7px, height: 71.7px, backgroundX: -12294px, backgroundY: -3590px),
    speed2: (width: 56.8px, height: 56.8px, backgroundX: -12366px, backgroundY: -3662px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    vertical-align: middle;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    // #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-PistenBully{
	@include get-sprite(PistenBully);
}
.sprite-PistenBullySm{
	@include get-sprite(PistenBullySm);
}
.sprite-Reform{
	@include get-sprite(Reform);
}
.sprite-ReformSm{
	@include get-sprite(ReformSm);
}
.sprite-arr{
	@include get-sprite(arr);
}
.sprite-closeFiltr{
	@include get-sprite(closeFiltr);
}
.sprite-compareBack{
	@include get-sprite(compareBack);
}
.sprite-compareIcon{
	@include get-sprite(compareIcon);
}
.sprite-diamond{
	@include get-sprite(diamond);
}
.sprite-diamondLight{
	@include get-sprite(diamondLight);
}
.sprite-downlPage{
	@include get-sprite(downlPage);
}
.sprite-downlPageB{
	@include get-sprite(downlPageB);
}
.sprite-downlTable{
	@include get-sprite(downlTable);
}
.sprite-insideBannerBrands{
	@include get-sprite(insideBannerBrands);
}
.sprite-insideBannerBrandsM{
	@include get-sprite(insideBannerBrandsM);
}
.sprite-question{
	@include get-sprite(question);
}
.sprite-rouble{
	@include get-sprite(rouble);
}
.sprite-serv1Left{
	@include get-sprite(serv1Left);
}
.sprite-serv1Right{
	@include get-sprite(serv1Right);
}
.sprite-serv1Title{
	@include get-sprite(serv1Title);
}
.sprite-serv2{
	@include get-sprite(serv2);
}
.sprite-serv4Left{
	@include get-sprite(serv4Left);
}
.sprite-serv4Right{
	@include get-sprite(serv4Right);
}
.sprite-serv5Title{
	@include get-sprite(serv5Title);
}
.sprite-serv6Left{
	@include get-sprite(serv6Left);
}
.sprite-serv6Right{
	@include get-sprite(serv6Right);
}
.sprite-serv6Title{
	@include get-sprite(serv6Title);
}
.sprite-serv8Left{
	@include get-sprite(serv8Left);
}
.sprite-serv8Right{
	@include get-sprite(serv8Right);
}
.sprite-service-1{
	@include get-sprite(service-1);
}
.sprite-service-2{
	@include get-sprite(service-2);
}
.sprite-service-3{
	@include get-sprite(service-3);
}
.sprite-service-4{
	@include get-sprite(service-4);
}
.sprite-service-5{
	@include get-sprite(service-5);
}
.sprite-service-6{
	@include get-sprite(service-6);
}
.sprite-service-7{
	@include get-sprite(service-7);
}
.sprite-service-8{
	@include get-sprite(service-8);
}
.sprite-serviceBack{
	@include get-sprite(serviceBack);
}
.sprite-serviceCornerCurls{
	@include get-sprite(serviceCornerCurls);
}
.sprite-speed1{
	@include get-sprite(speed1);
}
.sprite-speed2{
	@include get-sprite(speed2);
}
