$icons: (
    sprite: (width: 9403px, height: 2970px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    PistenBully: (width: 136.2px, height: 33.1px, backgroundX: 0px, backgroundY: 0px),
    PistenBullySm: (width: 60.7px, height: 14.6px, backgroundX: -137px, backgroundY: -34px),
    Reform: (width: 171.7px, height: 27.4px, backgroundX: -198px, backgroundY: -49px),
    ReformSm: (width: 60.7px, height: 9.7px, backgroundX: -370px, backgroundY: -77px),
    closeFiltr: (width: 10.7px, height: 10.7px, backgroundX: -431px, backgroundY: -87px),
    compareBack: (width: 278.5px, height: 48.2px, backgroundX: -442px, backgroundY: -98px),
    compareIcon: (width: 48px, height: 27px, backgroundX: -721px, backgroundY: -147px),
    diamond: (width: 265.1px, height: 93px, backgroundX: -769px, backgroundY: -174px),
    downlTable: (width: 189.3px, height: 64px, backgroundX: -1035px, backgroundY: -267px),
    insideBannerBrands: (width: 352.7px, height: 39.4px, backgroundX: -1225px, backgroundY: -331px),
    insideBannerBrandsM: (width: 212.8px, height: 23.5px, backgroundX: -1578px, backgroundY: -371px),
    rouble: (width: 54.1px, height: 54.1px, backgroundX: -1791px, backgroundY: -395px),
    serv1Left: (width: 757.1px, height: 69.8px, backgroundX: -1846px, backgroundY: -450px),
    serv1Right: (width: 798.5px, height: 54.3px, backgroundX: -2604px, backgroundY: -520px),
    serv1Title: (width: 123.7px, height: 71px, backgroundX: -3403px, backgroundY: -575px),
    serv2: (width: 1022.4px, height: 230.2px, backgroundX: -3527px, backgroundY: -646px),
    serv5Title: (width: 182.5px, height: 67.3px, backgroundX: -4550px, backgroundY: -877px),
    serv6Left: (width: 1266px, height: 295px, backgroundX: -4733px, backgroundY: -945px),
    serv6Right: (width: 1737px, height: 295px, backgroundX: -5999px, backgroundY: -1240px),
    serv6Title: (width: 80.3px, height: 56.8px, backgroundX: -7736px, backgroundY: -1535px),
    service-1: (width: 153.5px, height: 126.3px, backgroundX: -7817px, backgroundY: -1592px),
    service-2: (width: 125.1px, height: 126.4px, backgroundX: -7971px, backgroundY: -1719px),
    service-3: (width: 134.2px, height: 126.4px, backgroundX: -8097px, backgroundY: -1846px),
    service-4: (width: 128.1px, height: 126.4px, backgroundX: -8232px, backgroundY: -1973px),
    service-5: (width: 109.7px, height: 125.6px, backgroundX: -8361px, backgroundY: -2100px),
    service-6: (width: 128.7px, height: 120.9px, backgroundX: -8471px, backgroundY: -2226px),
    service-7: (width: 142.6px, height: 126.4px, backgroundX: -8600px, backgroundY: -2347px),
    service-8: (width: 121.8px, height: 126.4px, backgroundX: -8743px, backgroundY: -2474px),
    serviceBack: (width: 215.2px, height: 56px, backgroundX: -8865px, backgroundY: -2601px),
    serviceCornerCurls: (width: 192.4px, height: 183.1px, backgroundX: -9081px, backgroundY: -2657px),
    speed1: (width: 71.7px, height: 71.7px, backgroundX: -9274px, backgroundY: -2841px),
    speed2: (width: 56.8px, height: 56.8px, backgroundX: -9346px, backgroundY: -2913px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    vertical-align: middle;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    // #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-PistenBully{
	@include get-sprite(PistenBully);
}
.sprite-PistenBullySm{
	@include get-sprite(PistenBullySm);
}
.sprite-Reform{
	@include get-sprite(Reform);
}
.sprite-ReformSm{
	@include get-sprite(ReformSm);
}
.sprite-closeFiltr{
	@include get-sprite(closeFiltr);
}
.sprite-compareBack{
	@include get-sprite(compareBack);
}
.sprite-compareIcon{
	@include get-sprite(compareIcon);
}
.sprite-diamond{
	@include get-sprite(diamond);
}
.sprite-downlTable{
	@include get-sprite(downlTable);
}
.sprite-insideBannerBrands{
	@include get-sprite(insideBannerBrands);
}
.sprite-insideBannerBrandsM{
	@include get-sprite(insideBannerBrandsM);
}
.sprite-rouble{
	@include get-sprite(rouble);
}
.sprite-serv1Left{
	@include get-sprite(serv1Left);
}
.sprite-serv1Right{
	@include get-sprite(serv1Right);
}
.sprite-serv1Title{
	@include get-sprite(serv1Title);
}
.sprite-serv2{
	@include get-sprite(serv2);
}
.sprite-serv5Title{
	@include get-sprite(serv5Title);
}
.sprite-serv6Left{
	@include get-sprite(serv6Left);
}
.sprite-serv6Right{
	@include get-sprite(serv6Right);
}
.sprite-serv6Title{
	@include get-sprite(serv6Title);
}
.sprite-service-1{
	@include get-sprite(service-1);
}
.sprite-service-2{
	@include get-sprite(service-2);
}
.sprite-service-3{
	@include get-sprite(service-3);
}
.sprite-service-4{
	@include get-sprite(service-4);
}
.sprite-service-5{
	@include get-sprite(service-5);
}
.sprite-service-6{
	@include get-sprite(service-6);
}
.sprite-service-7{
	@include get-sprite(service-7);
}
.sprite-service-8{
	@include get-sprite(service-8);
}
.sprite-serviceBack{
	@include get-sprite(serviceBack);
}
.sprite-serviceCornerCurls{
	@include get-sprite(serviceCornerCurls);
}
.sprite-speed1{
	@include get-sprite(speed1);
}
.sprite-speed2{
	@include get-sprite(speed2);
}
