$icons: (
    sprite: (width: 5569px, height: 1823px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    PistenBully: (width: 136.2px, height: 33.1px, backgroundX: 0px, backgroundY: 0px),
    PistenBullySm: (width: 60.7px, height: 14.6px, backgroundX: -137px, backgroundY: -34px),
    Reform: (width: 171.7px, height: 27.4px, backgroundX: -198px, backgroundY: -49px),
    ReformSm: (width: 60.7px, height: 9.7px, backgroundX: -370px, backgroundY: -77px),
    closeFiltr: (width: 10.7px, height: 10.7px, backgroundX: -431px, backgroundY: -87px),
    compareBack: (width: 278.5px, height: 48.2px, backgroundX: -442px, backgroundY: -98px),
    compareIcon: (width: 48px, height: 27px, backgroundX: -721px, backgroundY: -147px),
    diamond: (width: 265.1px, height: 93px, backgroundX: -769px, backgroundY: -174px),
    insideBannerBrands: (width: 352.7px, height: 39.4px, backgroundX: -1035px, backgroundY: -267px),
    insideBannerBrandsM: (width: 212.8px, height: 23.5px, backgroundX: -1388px, backgroundY: -307px),
    serv1Left: (width: 757.1px, height: 69.8px, backgroundX: -1601px, backgroundY: -331px),
    serv1Right: (width: 798.5px, height: 54.3px, backgroundX: -2359px, backgroundY: -401px),
    serv1Title: (width: 123.7px, height: 71px, backgroundX: -3158px, backgroundY: -456px),
    serv2: (width: 1022.4px, height: 230.2px, backgroundX: -3282px, backgroundY: -527px),
    service-1: (width: 153.5px, height: 126.3px, backgroundX: -4305px, backgroundY: -758px),
    service-2: (width: 125.1px, height: 126.4px, backgroundX: -4459px, backgroundY: -885px),
    service-3: (width: 134.2px, height: 126.4px, backgroundX: -4585px, backgroundY: -1012px),
    service-4: (width: 128.1px, height: 126.4px, backgroundX: -4720px, backgroundY: -1139px),
    service-5: (width: 109.7px, height: 125.6px, backgroundX: -4849px, backgroundY: -1266px),
    service-6: (width: 128.7px, height: 120.9px, backgroundX: -4959px, backgroundY: -1392px),
    service-7: (width: 142.6px, height: 126.4px, backgroundX: -5088px, backgroundY: -1513px),
    service-8: (width: 121.8px, height: 126.4px, backgroundX: -5231px, backgroundY: -1640px),
    serviceBack: (width: 215.2px, height: 56px, backgroundX: -5353px, backgroundY: -1767px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    vertical-align: middle;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    // #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-PistenBully{
	@include get-sprite(PistenBully);
}
.sprite-PistenBullySm{
	@include get-sprite(PistenBullySm);
}
.sprite-Reform{
	@include get-sprite(Reform);
}
.sprite-ReformSm{
	@include get-sprite(ReformSm);
}
.sprite-closeFiltr{
	@include get-sprite(closeFiltr);
}
.sprite-compareBack{
	@include get-sprite(compareBack);
}
.sprite-compareIcon{
	@include get-sprite(compareIcon);
}
.sprite-diamond{
	@include get-sprite(diamond);
}
.sprite-insideBannerBrands{
	@include get-sprite(insideBannerBrands);
}
.sprite-insideBannerBrandsM{
	@include get-sprite(insideBannerBrandsM);
}
.sprite-serv1Left{
	@include get-sprite(serv1Left);
}
.sprite-serv1Right{
	@include get-sprite(serv1Right);
}
.sprite-serv1Title{
	@include get-sprite(serv1Title);
}
.sprite-serv2{
	@include get-sprite(serv2);
}
.sprite-service-1{
	@include get-sprite(service-1);
}
.sprite-service-2{
	@include get-sprite(service-2);
}
.sprite-service-3{
	@include get-sprite(service-3);
}
.sprite-service-4{
	@include get-sprite(service-4);
}
.sprite-service-5{
	@include get-sprite(service-5);
}
.sprite-service-6{
	@include get-sprite(service-6);
}
.sprite-service-7{
	@include get-sprite(service-7);
}
.sprite-service-8{
	@include get-sprite(service-8);
}
.sprite-serviceBack{
	@include get-sprite(serviceBack);
}
