@include font-face("DINProC", font-files("DINPro-CondLight.woff","DINPro-CondLight.ttf"), "DINPro-CondLight.eot", 300);
@include font-face("DINProC", font-files("DINPro-Cond.woff","DINPro-Cond.ttf"), "DINPro-Cond.eot", 400);
@include font-face("DINProC", font-files("DINPro-CondBold.woff","DINPro-CondBold.ttf"), "DINPro-CondBold.eot", 800);

.t-red { color: $c-red; }
.t-beige { color: $c-beige; }
.t-white { color: #fff; }

.nowrap { white-space: nowrap; }


#{headings()}
{
	@extend %text_title;
	line-height: 1.2;
}

h2
{
	font-size: 42px;
	margin-bottom: $margin-section;
}

h3{
	font-size: 28px;
	margin-bottom: $margin-section/2;
}

h4{
	font-size: 19px;
	margin-bottom: $margin-section/2;
}

a
{
	@extend %link_noline;
	transition: 0.3s color ease-out;
	color: $c-beige-dark;
}



.title-zigzag
{
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-bottom: 40px;
	font-size: 55px;

	span
	{
		position: relative;
		display: inline-block;
		padding: 0 20px;
		background-color: #fff;

		&:before, &:after
		{
			content: "";

			border-style: solid;
			border-color: $c-gray-2;

			width: 2000px;
			height: 62px;

			position: absolute;
			top: 50%;
			margin-top: -31px;

			background-image: image-url('patterns/zigzag.svg');
			background-repeat: repeat-x;
		}

		&:before
		{
			left: -2000px;
			background-position: 100% 50%;
			border-width: 0 1px 0 0;
		}

		&:after
		{
			right: -2000px;
			background-position: 0 50%;
			border-width: 0 0 0 1px;
		}
	}

}


hr
	{
		width: 100%;
		height: 1px;
		background-color: $c-gray-2;
		border: 0;
		margin: $margin-section 0;

		&.hr-devider{
			background-color: transparent;
		}
	}


#{$modernizr-nosvg} .title-zigzag span
{
	&:before, &:after{
		background-image: image-url('patterns/zigzag.png');
	}
}


.title-light
	{
		color: $c-beige-dark;
		font-weight: 400;
	}


.text-columned
	{
		column-gap: 15px;
		column-fill: auto;

		@include b_xs(){
			column-count: 1 !important;
		}
	}

.text-columned-2
	{
		column-count: 2;
	}

.text-columned-3
	{
		column-count: 3;
	}