$point-mobile: 420px;
$point-tablet: 960px;
$point-desktop-s: 1000px;

$width-base-max: $point-desktop-s;

$padding-side: 15px;


$margin-section: 30px;



//colors
$c-base: #222;
$c-beige: #F2D383;
$c-beige-dark: #8D734A;
$c-beige-3: #CBAC5B;
$c-red: #FF0000;
$c-darktur: #1D4046;
$c-gray: #8A8A8D;
$c-gray-2: #BDBBBB;
$c-gray-3: #848484;
$c-gray-4: #666;
$c-gray-5: #ccc;

$c-text: $c-base;



//fonts, types, text
$font-family-base:  'Fira Sans', 'Roboto', Arial, sans-serif;
$font-family-second: 'DINProC', serif;



//Modernizr plugin classes
$modernizr-nosvg: '.no-svg';
$modernizr-svg: '.svg';
$modernizr-cssanimations: '.cssanimations';
$modernizr-nocssanimations: '.no-cssanimations';


$bootstrap-sm: 576px;
$bootstrap-md: 768px;