$point-mobile: 640px;
$point-tablet: 768px;
$point-desktop-s: 1000px;

$width-base-max: $point-desktop-s;

$padding-side: 10px;



//colors
$c-base: #222;
$c-beige: #F2D383;
$c-beige-dark: #8D734A;
$c-red: #FF0000;

$c-text: $c-base;



//fonts, types, text
$font-family-base:  'Fira Sans', 'Roboto', Arial, sans-serif;
$font-family-second: 'DINProC', serif;