@charset "UTF-8";
@import "compass";

@import "utilities/my_reset";
@import "utilities/variables";
@import "utilities/media";

@import "utilities/extends";
@import "utilities/text";

@import "utilities/sprite";
@import "utilities/icons";

@import "utilities/forms";

@import "sections/header";
@import "sections/footer";

@import "plugins/anyslide";
@import "plugins/bootstrap/bootstrap-grid";
@import "plugins/datahover";

@import "pages/index";
@import "pages/catalog";
@import "pages/pages";



html, body{
  position: relative;
  height: 100%;
}

body{
  background-color: #fff;
  font-size: 13px;
  line-height: 1.5;
  font-family: $font-family-base;
}

main[role="main"]
{
  padding-top: 64px;  //for Fixed header, so we won't loose the top of content
  overflow-x: hidden;
}


/* CONTAINERS */

.container
{
  @extend %container_base;
	@extend %width_base;
}

.container-full
{
	@extend %container_base;
}

.container-narrow
{
  @extend %container_base;

  padding-left: $padding-side;
  padding-right: $padding-side;

  max-width: 800px;
}

.fullw
{
  box-sizing: border-box;
  width: 100%;
}

/* end of CONTAINERS */





/* FLOW OF ELEMENTS */
.f-zoom { overflow: hidden; }
.f-left { float: left; }
.f-right { float: right; }

.d-t{
  display: table;
}

.d-t-cell{
  display: table-cell;
}

.d-t-row
{
  display: table-row;
}
/* end of FLOW OF ELEMENTS */




/* ALIGN ELEMENT */

.align-b-middle
{
	vertical-align: middle;
}

.align-t-right
{
	text-align: right;
}
/* end of ALIGN ELEMENT */





/* MARGINS & PADDINGS */

.m-l-5 { margin-left: 5px; }
.m-r-5 { margin-right: 5px; }

/* end of MARGINS & PADDINGS */


/* OVEWRITE */
// .row
// {
//   margin-left: 0;
//   margin-right: 0;
// }
/* end of OVEWRITE */

