@charset "UTF-8";
@import "compass";

@import "utilities/my_reset";
@import "utilities/variables";
@import "utilities/media";

@import "utilities/extends";
@import "utilities/text";

@import "utilities/sprite";
@import "utilities/icons";

@import "utilities/forms";

@import "sections/header";
@import "sections/footer";

@import "plugins/anyslide";
@import "plugins/bootstrap/bootstrap-grid";
@import "plugins/datahover";

@import "pages/index";
@import "pages/catalog";
@import "pages/pages";
@import "pages/services";
@import "pages/news";
@import "pages/reviews";



html { -webkit-font-smoothing: antialiased }

html, body{
  position: relative;
  height: 100%;
}

body{
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  font-family: $font-family-base;
}

main[role="main"]
{
  padding-top: 65px;  //for Fixed header, so we won't loose the top of content
  overflow-x: hidden;
}


/* CONTAINERS */

.container
{
  @extend %container_base;
	@extend %width_base;
}

.container-full
{
	@extend %container_base;
}

.container-narrow
{
  @extend %container_base;

  padding-left: $padding-side;
  padding-right: $padding-side;

  max-width: 800px;
}

.fullw
{
  box-sizing: border-box;
  width: 100%;
}


section
{
  margin-top: $margin-section;

  &:first-child{
    margin-top: 0;
  }

  .row
  {
    margin-left: -5px;
    margin-right: -5px;
  }

  *[class*='col-']
  {
    padding: 5px;
  }
}

.sec-half
  {
    margin-top: $margin-section/2;

    &:first-child{
      margin-top: 0;
    }
  }


$tree-trunk: 27px;
$tree-trunk-2: 17px;
$tree-trunk-c: $c-gray-2;

.sec-tree
  {
    h2 { color: $c-beige-dark; }

    .row
      {
        margin-top: 30px;
        padding-top: $tree-trunk + $tree-trunk-2;
        position: relative;


        @media screen and (min-width: #{$bootstrap-md})
          {
            &:before, &:after
            {
              content:"";
              position: absolute;
              left: 50%;
            }

            &:before
              {
                width: 10px;
                height: 10px;
                border: 1px solid $tree-trunk-c;
                margin-left: -5.5px;
                top: - 10px;
              }

            &:after
              {
                background-color: $tree-trunk-c;
                width: 1px;
                height: $tree-trunk-2;
                margin-left: -0.5px;
                top: 0;
              }
          }




        div[class*='col-']
          {
            
            .c-inside
              {
                margin: 0 10px 10px;
                background-color: $c-base;
                color: #fff;
                padding: 15px;
              }

            position: relative;
            padding: 0;

            @media screen and (min-width: #{$bootstrap-md})
              {
                &:before, &:after
                  {
                    content:"";
                    background-color: $tree-trunk-c;
                    position: absolute;
                    top: -$tree-trunk;
                  }

                &:before
                  {
                    height: 1px;
                    left: 0;
                    right: 0;
                  }

                &:after
                  {
                    
                    width: 1px;
                    height: $tree-trunk;
                    left: 50%;
                    margin-left: -0.5px;
                    
                  }

                &:first-child:before
                  {
                    left: 50%;
                  }

                &:last-child:before
                  {
                    right: 50%;
                  }
              }
          }

        h3 {
          color: $c-beige;
          font-weight: 300;
          padding: 5px 0;
          border-width: 1px 0;
          border-style: solid;
          border-color: $c-beige;
        }

        .sec-tree__equal_2
          {
            border-top: 1px solid $c-gray-4;
            padding-top: 10px;
            margin-top: 10px;
          }

        @media screen and (min-width: 950px)
        {
            .sec-tree__equal_1
              {
                height: 180px;
              }

              .sec-tree__equal_2
                {
                  height: 100px;
                }
        }


        @media screen and (min-width: #{$bootstrap-md}) and (max-width: 950px)
        {
            .sec-tree__equal_1
              {
                height: 260px;
              }

              .sec-tree__equal_2
                {
                  height: 120px;
                }
        }
      }
  }

/* end of CONTAINERS */





/* FLOW OF ELEMENTS */
.f-zoom { overflow: hidden; }
.f-left { float: left; }
.f-right { float: right; }

.d-t{
  display: table;
}

.d-t-cell{
  display: table-cell;
}

.d-t-row
{
  display: table-row;
}
/* end of FLOW OF ELEMENTS */




/* ALIGN ELEMENT */

.align-b-middle
{
	vertical-align: middle;
}

.align-t-right
{
	text-align: right;
}

.align-t-center
{
  text-align: center;
}

.align-t-left
{
  text-align: left;
}
/* end of ALIGN ELEMENT */





/* MARGINS & PADDINGS */

.m-l-5 { margin-left: 5px; }
.m-r-5 { margin-right: 5px; }
.m-b-5 { margin-bottom: 5px; }

.m-t-sec { margin-top: $margin-section; }

/* end of MARGINS & PADDINGS */


/* OVEWRITE */
// .row
// {
//   margin-left: 0;
//   margin-right: 0;
// }
/* end of OVEWRITE */

.map 
  {
    margin-bottom: $margin-section;

    iframe
      {
        width: 100%;
        height: 309px;
      }
  }

