#catalog-top
	{
		padding-bottom: 14px;

		@extend %text_title;
		font-size: 18px;

		a{
			color: $c-text;

			&:hover
			{
				color: $c-beige-dark;
			}
		}


		@media screen and (max-width: 700px) 
		{
			.d-t, #catalog-breadcrumbs, #catalog-compare
			{
				display: block;
			}

			#catalog-compare
			{
				height: auto;

				a
				{
					text-align: left;
					margin-top: 4px;
				}

				&:after
				{
					display: none;
				}
			}

			.d-t
			{
				padding: 10px 0;
			}
		}

	}


#catalog-breadcrumbs, #catalog-compare
	{
		display: table-cell;
		vertical-align: middle;
	}



#catalog-breadcrumbs
	{
		text-align: left;

		a, span {
			margin-right: 5px;

			&:last-child{
				margin-right: 0;
			}
		}
	}


#catalog-compare
	{
		position: relative;

		$compareBack: map-get($icons, compareBack);
		width: map-get($compareBack, width);
		height: map-get($compareBack, height);

		&:after
		{
			content:"";
			@include get-sprite(compareBack);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
		}

		a{
			position: relative;
			z-index: 1;
			display: block;
			text-align: center;
			margin-top: 8px;
		}
	}


#catalog-brands
	{
		text-align: center;
		padding: 0 0 40px;

		span[class*='sprite-']
		{
			transform: scale(0.8);
		}
	}



#catalog-items
	{
		.col-sm-3, .col-sm-4
		{
			& > div{
				background-color: #222;
				height: 200px;
			}
		}


		.row{
			margin-top: 30px;

			&:first-child{
				margin-top: 0;
			}
		}

		@include b_xs(){
			.col-sm-3, .col-sm-4
			{
				margin-bottom: 30px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}