/* INDEX SLIDER */

#index-slider-wrap
{
	position: relative;
	height: $height-banner;
	overflow: hidden;
}

#index-slider--logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: image-width('pp-logo-big.png');
	height: image-height('pp-logo-big.png');
	margin-left: - image-width('pp-logo-big.png')/2;
	margin-top: - image-height('pp-logo-big.png')/2;

	z-index: 2;
}


#index-slider
{
	background-color: $c-darktur;
	z-index: 0;

	.anyslide-loader { display: none !important; }

	.js-slider-viewport{
	  opacity: 0;
	  animation: 0.6s fadeIn 0.5s ease-in-out forwards;

	  .slide{
	    opacity: 1;
	    animation: 0.4s fadeOut ease-in-out forwards;

	    &.active{
	      animation: 0.6s fadeIn ease-in-out forwards;
	    }
	  }
	}



	&, .slide
	{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.index-slide--img
	{
		background-repeat: no-repeat;
		background-size: cover;
	}

	.index-slide--vid
	{
		video
		{
			position: absolute;
			right: 0; 
  			bottom: 0;
		    min-width: 100%;
		    min-height: 100%;
		    width: auto;
		    height: auto;
		    z-index: -100;
		}
	}

	.js-slider-controls
	{
		position: absolute;
		z-index: 1;
		left: $padding-side;
		right: $padding-side;
		top: 50%;
		margin-top: -25px;

		a{
			color: $c-beige;
			font-size: 50px;
			line-height: 1;

			position: absolute;
			top: 0;

			&:hover
			{
				color: #fff;
			}
		}

		.prev
		{
			left: 0;
		}

		.next
		{
			right: 0;
		}

		@media screen and (max-width: 524px) 
		{
			display: none;
		}
	}
}


#{$modernizr-nocssanimations} #index-slider{
	.js-slider-viewport{
	  opacity: 1;

	  .slide{
	    display: none;

	    &.active{
	      display: block;
	    }
	  }
	}
}

/* end of INDEX SLIDER */




/* INDEX SECTIONS */
.index-sec
{
	margin-top: $margin-section;

	&:first-child{
		margin-top: 0;
	}

	.row
	{
		margin-left: -5px;
		margin-right: -5px;
	}

	*[class*='col-']
	{
		padding: 5px;
	}
}
/* end of INDEX SECTIONS */




/* BRANDS */
#index-brands
{
	text-align: center;

	span
	{
		display: inline-block;
		margin-right: 40px;
		margin-bottom: 10px;

		&:last-child
		{
			margin-right: 0;
		}

		@include max_mobile(){
			display: block;
			margin-left: auto;

			&, &:last-child{
				margin-right: auto;
			}
		}
	}
}

#index-brands--title
{
	display: inline-block;

	margin-top: 10px;

	border-width: 1px 0;
	border-style: dashed;
	border-color: $c-gray;

	padding: 12px 12px 10px;

	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.2;
	letter-spacing: 6px;
	font-weight: 300;
}
/* end of BRANDS */




/* NUMBERS */
$diamond: map-get($icons, diamond);

#index-num
{
	text-align: center;
	@extend %text_title;
	line-height: 1;

	background: image-url('index-back-nums.svg') no-repeat 50% 100%;
	min-height: image-height('index-back-nums.png') + 40;

	.d-t
	{
		margin: 0 auto;
	}

	@include max_tablet(){
		.d-t-cell{
			display: block;
			margin-bottom: 50px;
		}
	}
}


.index-num--text
{
	display: inline-block;
	margin-left: -40px;
}


#{$modernizr-nosvg} #index-num
{
	background-image: image-url('index-back-nums.png');
}

@include max_tablet(){
	#index-num { background-image: none !important; }
}

.index-num--n
{
	position: relative;
	width: map-get($diamond, width);
	height: map-get($diamond, height);
	overflow: hidden;
	color: #fff;

	display: table-cell;
    vertical-align: middle;

    font-size: 40px;

	.sprite-diamond
	{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.index-num--text
	{
		position: relative;
		z-index: 1;

		opacity: 0;

		&.countto-start
		{
			opacity: 1;
			transition: 0.8s opacity ease-out;
		}
	}
}

.index-num--t
{
	padding-top: 20px;
	font-size: 19px;
	color: $c-beige-dark;
}
/* end of NUMBERS */




/* ITEMS */

#index-items--controls
{
	a
	{
		display: block;
		padding: 8px 10px;
		color: #fff;
		background-color: $c-base;
		
		@extend %text_title;
		font-size: 15px;
		line-height: 1;

		&.data-hover--active
		{
			background-color: $c-beige-dark;
		}
	}
}

#index-items--img{

	img{
		display: block;
		max-width: 100%;
	}
}


/* end of ITEMS */



/* SERVICES */
$serviceBack: map-get($icons, serviceBack);

.service-link
{
	@extend %text_title;

	color: $c-base;
	display: block;

	width: map-get($serviceBack, width);
	margin: 0 auto;

	span[class*='sprite-']
	{
		margin-bottom: 20px;
	}

	&:hover{
		color: #fff;

		.service-link--text:after{
			background-color: $c-beige-dark;

		}
	}
}

.service-link--text
{
	position: relative;
	display: table-cell;
	box-sizing: border-box;
	padding: 5px 32px;

	width: map-get($serviceBack, width);
	height: map-get($serviceBack, height);
	vertical-align: middle;

	font-size: 15px;
	line-height: 1.5;


	&:before, &:after
	{
		content: "";
		position: absolute;
	}

	&:before
	{
		@include get-sprite(serviceBack);
		top: 0;
		left: 0;
	}

	&:after
	{
		width: 189px;
		height: 55px;
		top: 0.8px;
		left: 13px;
		z-index: -1;

		transition: 0.3s all ease-out;
	}
}

#index-services
{

	.col-sm-6
	{
		padding-bottom: 34px;
	}
}
/* end of SERVICES */



/* FEEDBACKS */

#index-feedbacks
{
	background-color: $c-base;
	padding: 30px 0 0;

	.col-sm-4
	{
		margin-bottom: 30px;
	}
}

.feedback-preview
{
	display: block;
	// max-width: 180px;
	// margin: 0 auto;

	@extend %text_title;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 19px;
	line-height: 1.2;

	transition: 0.2s color ease-out;

	img, span{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	img{
		max-width: 100%;
		border: 3px solid $c-base;
		transition: 0.2s border-color ease-out;
	}

	span{
		margin-top: 10px;
	}

	&:hover{
		color: $c-beige;

		img{
			border-color: $c-beige-dark;
		}
	}
}

/* end of FEEDBACKS */



.index-morelink
{
	text-align: center;
	margin-top: 30px;
}



.eventgrid-item
{
	@extend %text_title;
	display: block;
	border: 1px solid $c-base;

	&:hover{
		.eventgrid-item--name
		{
			color: $c-beige;

			&:after
			{
				transform: scaleY(1);
			}
		}
	}
}

.eventgrid-item--name
{
	@extend %flex-alignv;

	box-sizing: border-box;
	height: 250px;
	overflow: hidden;
	padding: 40px;

	color: $c-beige-dark;

	font-size: 40px;
	line-height: 1.2;

	transition: 0.3s color ease-out;

	span{
		display: block;
		width: 100%;
	}

	position: relative;

	&:after
	{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-color: $c-base;
		transform: scaleY(0);
		transform-origin: 100% 100%;
		transition: 0.3s all ease-out;
	}

}

.eventgrid-item--cat
{
	background-color: $c-base;
	color: #fff;
	font-size: 19px;
	line-height: 1;

	display: block;
	padding: 40px;

	@extend %flex-alignv;
	width: 100%;

	box-sizing: border-box;
	height: 112px;
}


#index-events
{
	.col-sm-4
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}




#index-bottomlinks{
	padding-top: 45px;


	.container-narrow
	{
		position: relative;
        height: 349px;

		&:before
		{
			content:"";

			background-image: image-url('index-bottom-x2.png');
			background-repeat: no-repeat;
			width: image-width('index-bottom-x2.png')/2;
			height: image-height('index-bottom-x2.png')/2;
			background-size: 100%;
			background-position: 0 2px;

			position: absolute;
			bottom: 0;
	        left: -626px;
			z-index: -1;
		}
	}


	.i-arrUp
	{
		font-size: 34px;
		line-height: 1;
		color: $c-base;

		position: absolute;
	    top: 142px;
    	left: 630px;

		&:hover{
			color: $c-beige;
		}

		@media screen and (max-width: 675px)
		{
			left: 50%;
			top: 0;
			margin-left: -17px;
		}
	}
}

.index-bottomlinks-btn
{
	display: block;
	border: 1px solid #fff;

	font-size: 26px;
	@extend %text_title;
	color: #fff;
	line-height: 1;
	font-weight: 300;

	padding: 5px 10px;

	transition: 0.3s all ease-out;

	&:hover
	{
		background-color: rgba($c-base, .75);
	}
}


#index-bottomlinks--fan
{
	width: 230px;
	position: absolute;
    top: 80px;
    left: 48px;

    line-height: 1;
	font-weight: 300;

    &, a{
    	@extend %text_title;
		color: #fff;
	}
}

#index-bottomlinks--fan-links
{
	white-space: nowrap;
	margin-top: 10px;
	font-size: 11px;

	a, span{
		margin-left: 5px;

		&:first-child{
			margin-left: 0;
		}
	}
}

#index-bottomlinks--brand
{
	width: 230px;
	position: absolute;
    top: 254px;
    left: 512px;

    @media screen and (max-width: 675px)
	{
		left: 48px;
	}
}