#page-news
	{
		#{headings()}
			{
				text-align: left;
			}

		h2, h3
			{
				font-weight: 400;
				margin-bottom: 5px;
			}

		h4, h5
			{
				text-transform: none;
				color: $c-beige-dark;
			}

		h2
			{
				color: $c-beige-dark;
			}

		h3
			{
				font-size: 19px;
			}


		.col-sm-9 img
			{
				display: inline-block;
				max-width: 100%;
				margin-bottom: $margin-section/2;
			}
	}




.news-date
	{
		font-weight: bold;
		color: $c-gray-3;
	}


.news-nav
	{
		list-style: none;
		border: 1px solid $c-text;
		margin-left: 0;


		li
			{
				border-top: 1px solid $c-text;

				&:first-child
					{
						border-top: 0;
					}
			}

		a
			{
				&, span { display: block; }

				padding: 20px;

				&:hover
					{
						background-color: $c-beige-dark;
						&, span { color: #fff; }
					}
			}


		span
			{
				font-family: $font-family-second;
				text-transform: uppercase;
				line-height: 1.2;
			}
	}


.news-nav__title
	{
		font-size: 23px;
		margin-bottom: 4px;
	}

.news-nav__subtitle
	{
		font-size: 16px;
		color: $c-text;
	}


li.active
	{
		a
			{
				background-color: $c-text;
				&, span { color: #fff; }
			}

		.news-nav__title
			{
				color: $c-beige;
			}
	}
