.contacts
	{
		h3, h4{
			text-align: left;
		}

		h3{
			color: $c-beige-3;
			margin-bottom: 12px;
		}

		h4{
			color: $c-beige-dark;
			margin-bottom: 4px;
		}

		img{
			display: block;
			max-width: 100%;
			margin-bottom: 12px;
		}

		.contacts--data
		{
			margin-top: 20px;
		}

		p{
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			margin-bottom: 6px;
		}

		div[class *= 'col-']{
			margin-bottom: $margin-section;
		}
	}



.anyslide-img
	{
		position: relative;

		.anyslide-content{
			padding: 0 80px;
			text-align: center;

			img{
				display: inline-block;
				max-width: 100%;
			}
		}

		.js-slider-controls{
			font-size: 48px;
			line-height: 1;
			display: none;

			a{
				color: $c-gray-2;

				position: absolute;
				top: 50%;
				margin-top: -24px;
				// transition: 0.2s all ease-out;

				&.prev { left: 0; }
				&.next { right: 0; }

				&:hover{
					color: $c-base;
				}
			}
		}

		&.anyslide-loaded{
			.js-slider-controls{
				display: block;
			}
		}
	}