.colsec
	{
		div[class *= 'col-']{
			margin-bottom: $margin-section;
		}
	}


.colsec-m-b
	{
		margin-bottom: 20px;
	}

.i-block
	{
		display: block;
		max-width: 100%;
	}



.contacts
	{
		h3, h4{
			text-align: left;
		}

		h3{
			color: $c-beige-3;
			margin-bottom: 12px;
		}

		h4{
			color: $c-beige-dark;
			margin-bottom: 4px;
		}

		p{
			line-height: 1.2;
			margin-bottom: 6px;
		}
	}



.anyslide-img
	{
		position: relative;

		.anyslide-content{
			padding: 0 80px;
			text-align: center;

			img{
				display: inline-block;
				max-width: 100%;
			}
		}

		.js-slider-controls{
			font-size: 48px;
			line-height: 1;
			display: none;

			a{
				color: $c-gray-2;

				position: absolute;
				top: 50%;
				margin-top: -24px;

				&.prev { left: 0; }
				&.next { right: 0; }

				&:hover{
					color: $c-base;
				}
			}
		}

		&.anyslide-loaded{
			.js-slider-controls{
				display: block;
			}
		}
	}


/* ACCORDION */
.js-accordion--tabContent { display: none; }
.js-accordion--tab
	{
		cursor: pointer;
		background: $c-gray-6;
		color: $c-beige;
		padding: 10px 0;
		border-bottom: 1px solid $c-gray-3;

		@extend %text_title;

		h3{
			font-size: 24px;
			margin-bottom: 0;
		}


		position: relative;

		&:before, &:after
			{
				content:"";

				@include get-sprite(arr);
				position: absolute;
				top: 50%;

				transition: all 0.2s linear;
			}

		&:before
			{
				left: 40px;
			}

		&:after
			{
				right: 40px;
			}


		&.opened
			{
				&:before, &:after
					{
						transform: scaleY(-1); 
					}
			}


		@include max_tablet(){
			&:before, &:after
				{
					display: none;
				}
		}
	}


.js-accordion--tabContent
	{
		background: $c-gray-2;
		color: $c-gray-3;

		display: none;

		.container
			{
				background: #fff;
				padding-top: $margin-section;
				padding-bottom: $margin-section;
			}

		&.opened
			{
				display: block;
			}
	}


/* ITEM PARAMETRS */
.product-param--wrap
{
	display: table;
	width: 100%;

	a:hover{
		text-decoration: underline;
		text-decoration: underline !important;
	}
}

.product-param
	{
		display: table-row;
	}

.product-param--left, .product-param--right
	{
		display: table-cell;
		padding: $margin-section/2 0;
		border-top: 1px solid $c-gray-5;
	}

.product-param--left
	{
		font-weight: 700;
		padding-right: 10px;
		color: $c-base;
	}

.product-param--right
	{
		text-align: right;
	}
/* end of ITEM PARAMETRS */