#inside-banner
	{
		background-color: $c-base;
		color: #fff;
		padding: 20px;
		position: relative;
	}


#inside-banner--content
	{
		border: 1px solid $c-beige-dark;
		padding: 30px;
		box-sizing: border-box;
		min-height: $height-banner;
	    overflow: hidden;
    	position: relative;
	}


#inside-banner--logo
	{
		position: absolute;
		top: 33px;
		right: 33px;
		display: block;
		width: 70px;

		@include max_desktop_s()
			{
				display: none;
			}
	}


#inside-banner--logoStripe
	{
		position: absolute;
		left: 0;
		top: 36%;

		@include max_tablet()
			{
				display: none;
			}
	}


#inside-banner--logoStripe-m
	{
		display: none;
		text-align: center;
		margin-top: 50px;

		@include max_tablet()
			{
				display: block;
			}
	}



#inside-banner--sign
	{
		text-align: center;
	    margin-top: 50px;
	    position: relative;

		img
			{
				display: inline-block;
				max-width: 100%;
				max-height: 250px;
			}
	}


.sprite-serv1Left, .sprite-serv1Right,
.sprite-serv6Left, .sprite-serv6Right,
.sprite-serv8Left, .sprite-serv8Right,
.sprite-serv4Left, .sprite-serv4Right
	{
		position: absolute;
		left: 50%;
	}


.sprite-serv1Left, .sprite-serv1Right
	{
		bottom: 110px;
	}

.sprite-serv4Left, .sprite-serv4Right
	{
		bottom: 88px;
	}

.sprite-serv1Left
	{
		$serv1Left: map-get($icons, serv1Left);
		margin-left: - map-get($serv1Left, width) - 220px;
	}


.sprite-serv1Right, .sprite-serv8Right
	{
	    margin-left: 220px;
	}


.sprite-serv6Left, .sprite-serv6Right
	{
		bottom: 0;
	}


.sprite-serv6Left
	{
		$serv6Left: map-get($icons, serv6Left);
		margin-left: - map-get($serv6Left, width);
	}


.sprite-serv8Left
	{
		$serv8Left: map-get($icons, serv8Left);
		margin-left: - map-get($serv8Left, width) - 220px;
	}

.sprite-serv4Left
	{
		$serv4Left: map-get($icons, serv4Left);
		margin-left: - map-get($serv4Left, width) - 140px;
	}

.sprite-serv4Right
	{
	    margin-left: 140px;
	}



.sprite-serv8Left, .sprite-serv8Right
	{
		bottom: 128px;
	}


.inside-banner__serv8
	{
		h1 
			{
				max-width: 420px;
				margin-left: auto;
				margin-right: auto;
			}

		.sprite-serviceCornerCurls
			{
				// background-color: $c-base;
			}
	}






@mixin ServiceTitle($sprite)
	{
		$spriteP: map-get($icons, $sprite);
		min-height: map-get($spriteP, height) + 40;
		padding-left: map-get($spriteP, width) + 30;
		padding-right: map-get($spriteP, width) + 30;

		&:before, &:after
			{
				@include get-sprite($sprite);
				margin-top: - map-get($spriteP, height) / 2;
			}

		@media screen and (max-width: #{$point-tablet})
			{
				padding-left: 0;
				padding-right: 0;

				&:before, &:after
					{
						display: none;
					}
			}
	}



.title-compl--serv1
	{
		@include ServiceTitle(serv1Title);

		&:after { transform: scaleX(-1); }
	}

.title-compl--serv3
	{
		@include ServiceTitle(speed2);
	}

.title-compl--serv5
	{
		@include ServiceTitle(serv5Title);

		&:after { transform: scaleX(-1); }
	}

.title-compl--serv6
	{
		@include ServiceTitle(serv6Title);

		&:after { transform: scaleX(-1); }
	}




.sprite-serv2
	{
		position: absolute;
		left: 50%;
		bottom: 0;

		&.left
			{
				$serv2: map-get($icons, serv2);
				margin-left: - map-get($serv2, width) - 100px;
			}

		&.right
			{
			    margin-left: 100px;
			}
	}


#inside-banner--serv3Speed
	{
		position: absolute;
		top: 7px;
		left: 50%;
		margin-left: 204px;
	}


.sprite-serviceCornerCurls
	{
		position: absolute;
		bottom: 0;

		&.left 
			{
				left: 0;
				transform: scaleX(-1);
			}

		&.right 
			{
				right: 0;
			}


		@include max_desktop_s(){
			display: none
		}
	}


#inside-banner--roubleDecor
	{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: 500px;

		&:before
			{
				content: "";
				width: 1px;
				background-color: $c-beige-dark;

				position: absolute;
				top: 0;
				bottom: 0;
				left: 50%;
				margin-left: -0.5px;
				z-index: 0;
			}


		.sprite-rouble
			{
				position: absolute;
				top: 160px;
				left: 50%;

				$rouble: map-get($icons, rouble);
				margin-left: - map-get($rouble, width)/2;
			}


		@media screen and (max-width: 1290px)
		{
			display: none;
		}
	}
