doctype html

block html
html
	head
		meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

		title PistenBully Россия - Компания "Прайм Прайд"
		meta(name='description' content='Генеральное представительство PistenBully и Reform в России и Белоруссии.')

		link(rel="icon" href="favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png")
		link(rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png")
	body(class=bodyclass)
		#top
			img(alt="Prime-Pride", src="assets/i/logo.svg", data-srcfb="assets/i/logo.png")
		#bottom
			#bottom-content
				#brands
					.left
						.sprite-pistenBully
						.sprite-reform
					.right 
						#brands-text: p Генеральное представительство

				#contacts
					div
						.contacts-line.t-gray Наш сайт находится на реконструкции.

						.contacts-line: #phone 8 800 5000 163
						.contacts-line: #email info@pp-mail.com

		#back


		link(href='assets/css/pp_parking.min.css?v=1' rel='stylesheet' media="all")
		script(src='assets/js/pp_parking.min.js?v=1' async)